@model ICollection<TaskManagementSystemMITT.Models.ProjectTask>

@{
    ViewBag.Title = "Index";
}
<h4>Dashboard for @ViewBag.Username</h4>
<h4>Tasks:</h4>
@foreach (var task in Model)
{
    <table style="width:70%">
        <tr>
            <th>Task</th>
        </tr>
        <tr>
            <td>@task.Description</td>
        </tr>
    </table>


    if (task.IsCompleted == true)
    {
        @Html.ActionLink("Add Comment ", "AddComment")

    }

}
<!---
        <td>
            Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            Html.ActionLink("Details", "Details", new { id=item.Id }) |
            Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
    -->
